.regular_btn{
    background-color: #00d095;
}

.banner_title h2{
    color: #3d7684;
}

.banner_title h1{
    color: #1c5e6d;
}

.banner{
    background-color: #dbf2f9;
}

.service_icon_1{
    height: 100px;
    width: 100px;
    background-color: #ffdec7;
}

.service_icon_2{
    height: 100px;
    width: 100px;
    background-color: #e3dcfe;
}

.service_icon_3{
    height: 100px;
    width: 100px;
    background-color: #f9d9ea;
}

/* Reset CSS */

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

@media (max-width:768px) {
    .grid-wrapper .big {
        grid-column: span 1;
    }
}
