.regular_btn{
    background-color: #00d095;
}

.banner_title h2{
    color: #3d7684;
}

.banner_title h1{
    color: #1c5e6d;
}

.banner{
    background-color: #dbf2f9;
}

.service_icon_1{
    height: 100px;
    width: 100px;
    background-color: #ffdec7;
}

.service_icon_2{
    height: 100px;
    width: 100px;
    background-color: #e3dcfe;
}

.service_icon_3{
    height: 100px;
    width: 100px;
    background-color: #f9d9ea;
}