/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


/* Base CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.regular_btn {
    background-color: #258597;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}


/* Banner CSS */
.banner_title h2 {
    color: #3d7684;
    font-size: 50px;
}

.banner_title h1 {
    color: #1c5e6d;
    font-size: 60px;
}

.banner_bg {
    background-color: #dbf2f9;
}

/* Service CSS */

.service_icon_1, .service_icon_2, .service_icon_3 {
    height: 100px;
    width: 100px;
    background-color: #dbf2f9;
    
}




/* ---------------------
-----Price Sections-----
--------------------- */
.card_heading_color {
    color: #231D4F;
}
.card:hover, .card:hover .list-group-item{
    background-color: #dbf2f9;
}

.card_button_bg {
    background-color: #258597;
}

.card_list li i.fas {
    color: #258597;
    background-color: #edecf9;
}
.card{
    -webkit-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
}

.card:hover  {
    top: -40px;
}

.highlight_price .card {
    border-radius: 25px;
}

.highlight_price li i.fas, .theme_btn {
    background-color: #edecf9;
}

.tag {
    background: #ff4e4e;
    right: -40px;
}


/* Compare Area */
.border_vertical {
    border-left: 2px solid gray;
    height: 250px;
    margin-left: 72px;

}

.compare_point_left {
    text-align: end;
}

.compare_point_left i.fa-solid {
    margin-left: 10px;
}

.compare_point_right i.fa-solid {
    margin-right: 10px;
    color: #258597;
}

.compare {
    background-color: #348193;
}


/* About Area */
.about ul li{
    list-style: none;
    float: left;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 8px;

}
.about ul li i.fas{
    float: left;
    float: left;
    width: 28px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #258597;
    
}


/* Featured Gallary */
.grid-wrapper>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.grid-wrapper .tall {
    -ms-grid-row-span: 2;
    grid-row: span 2;
}

.grid-wrapper .big {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 2;
    grid-row: span 2;
}

.grid-wrapper img{
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.grid-wrapper img:hover{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

/* Footer */
footer {
    background-color: #dbf2f9;
    color: #000 ;
}


.footer {
    height: auto;
    min-height: 300px;
    padding: 50px 0 20px 0;
    position: relative
}

.contact_info h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 0 20px 0
}

.contact_info ul li {
    clear: both;
    margin-bottom: 10px;
    line-height: 20px;
    height: 25px
}

.contact_info ul li i {
    float: left;
    color: #000 ;
    font-size: 15px;
    margin-right: 10px
}

.contact_info ul li span {
    color: #000 ;
    font-weight: 400;
    margin-right: 15px;
    float: left;
    font-size: 15px
}

.contact_info ul li p {
    color: #000 ;
    float: left;
    font-size: 14px
}

.font-400 {
    font-weight: 600
}

.margin-bottom-10 {
    margin-bottom: 15px
}

.contact_info ul li p a {
    color: #000 ;
    cursor: pointer;
    text-decoration: none
}

.contact_info ul li p a:hover {
    color: #000 ;
}





.footer-blog-feed {
    height: auto;
    padding: 20px 5px;
    position: relative
}

.footer-blog-feed h4 {
    color: #000 ;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 15px 0 20px 0
}

.footer-blog-feed li {
    border-bottom: 1px dashed #333941;
    padding: 10px 0;
    line-height: 1.6em
}

.footer-blog-feed li:last-child {
    border-bottom: none
}

.footer-blog-feed li:first-child {
    padding-top: 0
}

.footer-blog-feed li i {
    color: #000 ;
    margin-right: 10px
}

.footer-blog-feed li a {
    color: #000 ;
    text-decoration: none
}

.footer-blog-feed li a:hover {
    color: #3498db
}

.footer_links_widget {
    height: auto;
    padding: 20px 5px;
    position: relative
}

.footer_links_widget h4 {
    color: #000 ;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 15px 0 20px 0
}

.footer_links_widget li {
    padding: 5px 0;
    line-height: 1.6em
}

.footer_links_widget li:last-child {
    border-bottom: none
}

.footer_links_widget li:first-child {
    padding-top: 0
}

.footer_links_widget li i {
    color: #000 ;
    margin-right: 10px
}

.footer_links_widget li a {
    color: #000 ;
    text-decoration: none
}

.footer_links_widget li a:hover {
    color: gray
}

.copy_right {
    height: auto;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    font-weight: 400;
    padding: 15px 10px;

}

.copy_right img {
    margin-left: 20px;
    padding-top: 15px;
    float: left
}

.copy_right p a {
    color: #3498db;
    margin-left: 5px;
    text-decoration: none
}

.copy_right p a:hover {
    color: #156193
}

.copy_right p {
    color: #000;
    float: left;
    line-height: 50px;
    margin-left: 15px
}

.copy_right .social_footer {
    float: right;
    line-height: 50px;
    margin-right: 20px
}

.copy_right h6 {
    display: inline-block;
    padding: 20px 0 0 10px
}

.social_footer li {
    float: left;
    margin-left: 20px;
    font-size: 20px;
    
}

.social_footer li a {
    color: #000 ;
}

.social_footer li a:hover {
    color: gray
}

.social_icon a {
    color: #000;
    font-size: 20px;
}



/*+++++++++++++++++++
    Responsive CSS 
 ++++++++++++++++++*/

/* Tablet Device */
@media (max-width:768px) {
    .grid-wrapper .big {
        -ms-grid-column-span: 1;
        grid-column: span 1;
    }
}

/* Mobile Device */

@media (max-width:576px) {
    .banner_title h2 {
        font-size: 30px;
    }

    .banner_title h1 {
        font-size: 40px;
    }
}



/* Testimonials */
.testim-inner{

	margin-top: 40px;

	margin-bottom: 20px;

	position: relative;

	text-align: center;

    padding: 0 25px 25px 25px;

    border: 1px solid #e5efff;

    background-color: #fefefe;

    border-radius: 7px 7px;

    -webkit-transition: all 1s;

    -o-transition: all 1s;

    transition: all 1s;

}



.testim-inner:hover{

    border: 1px solid #258597;

	-webkit-transform: scale(1.025);

	    -ms-transform: scale(1.025);

	        transform: scale(1.025);

    -webkit-transition: all 0.5s;

    -o-transition: all 0.5s;

    transition: all 0.5s;

}



.testim-inner img{

	position: relative;

	display: inline-block;

	margin-top: -55px;

	max-width: 110px;

	border:1px solid #e5efff;

	border-radius: 50% 50%;

	padding: 5px 5px;

	background-color: #fff;

}



.testim-inner:hover img{

	border:1px solid #258597;

}



.testim-inner h6{

	margin-bottom: 5px;

	font-size: 16px;

	line-height: 24px;

	font-weight: 700;

	color: #258597;

}



.testim-inner p{

	font-size: 17px;

	line-height: 28px;

	font-style: italic;

	margin-top: 20px;

	margin-bottom: 5px;

}



.testim-rating i{

	color: #fdcc28;

}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -o-linear-gradient(top, white, black);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: linear-gradient(to bottom, white, black);
}

/* Login */

.form_bg{
    background-color: #c6f1f8 !important;
}

.form_title{
    color: #258597;
}

.own_border{
    border-bottom: 2px solid #258597;
}